/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 de abr. de 2021, 20:24:21
    Author     : jeffe
*/

body{
    background-color: #d4dcdd;
    display: block;
    margin: 0px;
}

.topnav {
  background-color: #c4c4c4;
  overflow: hidden;
  
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: large;
}

.topnav a.logo {
  background-color: #fceaea;
  color: black;
  padding: 10px 20px 10px 20px !important;
  margin-left: 10px;
  margin-top: 4px;
  margin-right: 30px;
}

.ProductFilter{
    display: flex;
    justify-content: center;
    padding-top: 50px
}

.ProductList{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.productForm{
    display: flex;
    justify-content: center;
    padding-top: 50px
}

.productTable {
    padding-left: 20px;
    padding-right: 20px;
    border-collapse: collapse;
}

.productTable tbody{
    background-color: #fbfeff;
    padding-left: 20px;
    padding-right: 20px;
}

.productTable th{
    padding-bottom: 12px;
    padding-right: 15px;
    text-align: left;
}

.productTable td{
    padding:5px;
}

input[type=text]{
    width: 300px;
    height: 20px;
    border-radius: 10px;
    background-color: #f8fcfc;
    font-size: 17px;
}

select{
    width: 307px;
    height: 30px;
    border-radius: 10px;
    background-color: #f8fcfc;
    font-size: 17px;
}

.searchBottom{
    background-color: #5c8997;
    color: white;
    font-size: 16px;
    width: 100px;
    border-radius: 10px;
    float: right;
}

.salvarBottom {
    background-color: #5c8997;
    color: white;
    font-size: 16px;
    width: 100px;
    border-radius: 10px;
    float: left;
}
.cancelarBottom {
    background-color: #ff8f96;
    color: white;
    font-size: 16px;
    width: 100px;
    border-radius: 10px;
    float: right;
}